@page "/Contact"

<div>
    <center><h1>Contact us</h1></center>
    <center>
        Name
        <br />
        <input /><br />
        Email
        <br />
        <input />
        <br />
        Message
        <br />
        <input />
        <br />
        <button> <small>Send Message</small></button>

    </center>
</div>


