@page "/Videos"

<h3>VLOGS</h3>
<iframe width="451" height="315" src="https://www.youtube.com/embed/TGjzwqSlc7g?si=HGuAxl1TbctnL5qB
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/ohxUv-Jpd3I?si=J8bbiQAgTlIhxTeD"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/homjMLai9N0?si=wbJOwP1zNkJ9TMmr"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>


<iframe width="451" height="315" src="https://www.youtube.com/embed/c-0pRyquOkY?si=_z1p6b6G3yH_JxPG"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>



<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/yAZxwznJQEQ?si=wbb9fDj3Yv3d4nnA
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>

